section{
    padding: 30px 0px;
    width: 50vw;
    margin: 0 auto;
}

section h1{
    font-size: 2.4rem;
    padding-bottom: 5px;
}

section p{
    font-size: 1.05rem;
    color: #555;
    padding-left: 3px;
}

@media (max-width: 768px) {
    section{
        width: 95vw;
    }
}