footer {
  background-color: #222;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  color: #fff;
  font-size: 2rem;
  padding: 0px 10px;
  transition: 0.3s ease-in-out color;
}

footer ul li:hover {
  cursor: pointer;
  color: #ffbb33;
}

footer p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding-top: 15px;
}

footer span {
  color: #ffbb33;
  font-weight: 600;
}
